<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="/static/base.js"></script>
        <link rel="stylesheet" href="/static/base.css" type="text/css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GNV Companies Are Hiring!</title>
    </head>

    <body>
        <div class="image">
            <a href="https://www.goodnewsventures.com/">
            <img class="gnv" src="https://images.squarespace-cdn.com/content/v1/5d8b9145d980a85623888ef6/1571773467051-WTXZ3T5339LEM66QVJH7/black.png" alt="Good News Ventures">
            </a>
        </div>
        
        <div>
            <p class="title">👉 our portfolio companies are hiring 👈</p>
        </div>
    
        <div class="row">  
            <div class="column">
                <div class="card">
                    <a href="https://hashtagpaid.com/company#careers">
                    <img src="https://images.squarespace-cdn.com/content/v1/5d8b9145d980a85623888ef6/1626061635147-UYZ1TTA3TTWNOF6QWKS0/%23paid.png?format=1000w" alt="#paid">
                    <p class="job-desc">Creator Acquisition Specialist Full-time<br>Program Success Manager Full-time<br>Engineering Manager Full-time<br>Intermediate Full-Stack Engineer Full-time<br>Senior Data Engineer Full-time<br>Senior Full-Stack Engineer Full-time<br>Senior Product Designer Full-time<br>Enterprise Sales Development Representative Full-time<br>SMB Sales Development RepresentativeToronto Full-time<br>Paid Media ManagerToronto Full-time<br>Senior Client Partner Full-time<br>Talent Acquisition Specialist Full-time<br>Vice President of Finance Full-time
    </p></a>
                </div>
            </div>
            
            <div class="column">
                <div class="card">
                    <a href="https://www.acto.com/careers/">
                    <img src="https://images.squarespace-cdn.com/content/v1/5d8b9145d980a85623888ef6/1626061584046-YLSTZF5AKUVHUA0NVIXL/ACTO.png?format=1000w" alt="ACTO">
                    <p class="job-desc">Senior Customer Success Manager - Full Time TORONTO, ON<br>Medical Education Manager - Full Time TORONTO, ON<br>Solutions Expert Full Time - TORONTO, ON<br>Accounts Receivable Specialist - Full Time TORONTO, ON<br>Product Manager - Full Time TORONTO, ON<br>Application Engineer Full Time TORONTO, ON
    </p></a>
                </div>
            </div>
    
            <div class="column">
                <div class="card">
                    <a href="https://play.battlesnake.com/careers/">
                    <img src="https://images.squarespace-cdn.com/content/v1/5d8b9145d980a85623888ef6/1626061586259-L4246VS8OC396UNTFNN7/battlesnake.png?format=1000w" alt="Battlesnake">
                    <p class="job-desc">Shoutcaster &amp; Analyst - Part-time/Remote
    </p></a>
                </div>
            </div>
        </div>
    
        <div class="row">  
            <div class="column">
                <div class="card">
                    <a href="https://career.claimcompass.eu/">
                    <img src="https://images.squarespace-cdn.com/content/v1/5d8b9145d980a85623888ef6/1626061658188-7WYC9XBRIYXUEHRM3TBA/claim+compass.png?format=1000w" alt="Claim Compass">
                    <p class="job-desc">Full-Stack Engineer - Sofia, Bulgaria<br>General Application - Sofia, Bulgaria
    </p></a>
                </div>
            </div>
            
            <div class="column">
                <div class="card">
                    <a href="https://coinchange.io/careers">
                    <img src="https://images.squarespace-cdn.com/content/v1/5d8b9145d980a85623888ef6/1626061681120-P5E98ILWB3RERPI0N32M/coinchange.png?format=1000w" alt="coinchange">
                    <p class="job-desc">Marketing Analyst - TORONTO, ONTARIO - REMOTE POSSIBLE<br>Growth Marketing Manager - TORONTO, ONTARIO - REMOTE POSSIBLE<br>Motion Graphic Designer - TORONTO, ONTARIO - REMOTE POSSIBLE<br>Copywriter - TORONTO, ONTARIO - REMOTE POSSIBLE<br>DeFi &amp; Crypto Junior Inside Sales Associate - TORONTO, ONTARIO - REMOTE POSSIBLE <br>Graphic Designer - TORONTO, ONTARIO - REMOTE POSSIBLE<br>Treasury and Liquidity Manager - TORONTO, ONTARIO - REMOTE POSSIBLE <br>Sr. UX Designer - TORONTO, ONTARIO - REMOTE POSSIBLE <br>Sr. Marketing Automation Manager - TORONTO, ONTARIO - REMOTE POSSIBLE <br>Sr. Social Media &amp; Community Manager - TORONTO, ONTARIO - REMOTE POSSIBLE
    </p></a>
                </div>
            </div>
    
            <div class="column">
                <div class="card">
                    <a href="https://www.cuboh.com/careers#Open-Positions">
                    <img src="https://images.squarespace-cdn.com/content/v1/5d8b9145d980a85623888ef6/1626061699064-4IM1A3LVK8RCCXWRSB8H/cuboh.png?format=1000w" alt="cuboh">
                    <p class="job-desc">Onboarding Specialist Co-Op Full-Time, Victoria, BC<br>Integration Quality Analyst Full-Time, Victoria, BC<br>Partner Account Manager Full-Time, Victoria, BC<br>People Operations Generalist Full-Time, Victoria, BC<br>Digital Sales Representative Full-Time, Victoria, BC or Remote<br>Dev/Ops Engineer Full-Time, Victoria, BC or Remote<br>Full Stack Developer Full-Time, Victoria, BC
    </p></a>
                </div>
            </div>
        </div>
    
        <div class="row">  
            <div class="column">
                <div class="card">
                    <a href="https://darwinai.humi.ca/job-board">
                    <img src="https://images.squarespace-cdn.com/content/v1/5d8b9145d980a85623888ef6/1626061703978-1CT3PW02YFJ5YH7WOOGL/darwinAI.png?format=1000w" alt="DARWIN AI">
                    <p class="job-desc">Quality Assurance Lead - WATERLOO/TORONTO, ON, CANADA FULL-TIME<br>Sales Development Representative - WATERLOO/TORONTO, ON, CANADA FULL-TIME
    </p></a>
                </div>
            </div>
    
            <div class="column">
                <div class="card">
                    <a href="https://careers.smartrecruiters.com/Dashlabsai">
                    <img src="https://images.squarespace-cdn.com/content/v1/5d8b9145d980a85623888ef6/1626061708634-I1H5JRHILO5C2E39JCS5/dashlabs.png?format=1000w" alt="Dashlabs">
                    <p class="job-desc">Producer/Content Creator/Creative Admin<br>Social Media Manager/Copy Editor<br>Intern/FTE - Software Engineer<br>Senior Software Engineer<br>Senior UX Engineer<br>Intern/FTE - Client Success (Technical)<br>Intern - Marketing<br>Sales Executive
    </p></a>
                </div>
            </div>
    
            <div class="column">
                <div class="card">
                    <a href="https://www.datafold.com/careers">
                    <img src="https://images.squarespace-cdn.com/content/v1/5d8b9145d980a85623888ef6/1626061711684-JJ27SSHXV5WPIJPCXF2M/datafold.png?format=1000w" alt="Datafold">
                    <p class="job-desc">DevOps Engineer<br>Customer Engineer<br>Software Engineer - Front End<br>Software Engineer - Python<br>Head of Growth<br>Product Expert<br>Growth Operations Manager<br>Events Manager<br>Growth Designer<br>Head of Partnerships<br>Lead Technical Recruiter<br>Head of Design<br>Account Executive<br>Business Development Representative
    </p></a>
                </div>
            </div>
        </div>
    
        <div class="row">  
            <div class="column">
                <div class="card">
                    <a href="https://envoi.breezy.hr/">
                    <img src="https://images.squarespace-cdn.com/content/v1/5d8b9145d980a85623888ef6/1626061741446-0DNU2K95IHZ2HIEWKJDE/envoi.png?format=1000w" alt="envoi">
                    <p class="job-desc">Bilingual Driver Support Specialist Canada - Remote OK Full-Time Operations Apply
    </p></a>
                </div>
            </div>
    
            <div class="column">
                <div class="card">
                    <a href="https://funnelytics.io/careers/">
                    <img src="https://images.squarespace-cdn.com/content/v1/5d8b9145d980a85623888ef6/1626061748424-E79VBLQHWEYN574ORUN4/funnelytics.png?format=1000whttps://images.squarespace-cdn.com/content/v1/5d8b9145d980a85623888ef6/1626061748424-E79VBLQHWEYN574ORUN4/funnelytics.png?format=1000w" alt="Funnelytics">
                    <p class="job-desc">Principal Software Engineer<br>Senior Back-End Developer<br>Senior Front-End Developer
    </p></a>
                </div>
            </div>
         
            <div class="column">
                <div class="card">
                    <a href="https://apply.workable.com/hockeystickco/">
                    <img src="https://images.squarespace-cdn.com/content/v1/5d8b9145d980a85623888ef6/1626061755697-Q9DIWGL0Q4CSEZY0KGWE/hockeystick.png?format=1000w" alt="Hockeystick">
                    <p class="job-desc">Marketing Architect Toronto, Ontario, Canada - Full time
    </p></a>
                </div>
            </div>
        </div>
    
        <div class="row">  
            <div class="column">
                <div class="card">
                    <a href="https://irestify.com/join-us/">
                    <img src="https://images.squarespace-cdn.com/content/v1/5d8b9145d980a85623888ef6/1626061773561-0C3BHC3ESYAM6QEEJ8L8/iRestify.png?format=1000w" alt="iRestify">
                    <p class="job-desc">Various Internships<br>Cleaning Supervisor, Ottawa<br>Intermediate Full Stack Developer<br>Senior Full Stack Developer<br>QA Engineer<br>Sales Advisor
    </p></a>
                </div>
            </div>
    
            <div class="column">
                <div class="card">
                    <a href="https://www.kitchenmate.com/careers">
                    <img src="https://images.squarespace-cdn.com/content/v1/5d8b9145d980a85623888ef6/1626061819593-KJ6AB0GXXX3ROF7F161F/kitchenmate.png?format=1000w" alt="kitchenmate">
                    <p class="job-desc">Customer Experience &amp; Advocacy Coordinator
    </p></a>
                </div>
            </div>
     
            <div class="column">
                <div class="card">
                    <a href="https://www.getneuro.ai/jobs">
                    <img src="https://images.squarespace-cdn.com/content/v1/5d8b9145d980a85623888ef6/1626061831041-FILBFM813G8Q7AK360Q9/neuro.png?format=1000w" alt="neuro">
                    <p class="job-desc">Executive assistant<br>Software Engineer 
    </p></a>
                </div>
            </div>
        </div>
    
        <div class="row">      
            <div class="column">
                <div class="card">
                    <a href="https://rallynow.freshteam.com/jobs">
                    <img src="https://images.squarespace-cdn.com/content/v1/5d8b9145d980a85623888ef6/1626061871907-KHU541RPTLVUL5FEKJS5/Rally.png?format=1000w" alt="Rally">
                    <p class="job-desc">Senior Sales Development Respresentative (Remote)<br>Full-Stack Engineer<br>Product Designer (Remote)<br>Senior Frontend Engineer (Designer Who Can Code Or Coder Who Can Design)
    </p></a>
                </div>
            </div>
     
            <div class="column">
                <div class="card">
                    <a href="https://sampler.bamboohr.com/jobs/">
                    <img src="https://images.squarespace-cdn.com/content/v1/5d8b9145d980a85623888ef6/1626061925007-W466WTB6XY6LC84L3EJC/sampler.png?format=1000w" alt="Sampler">
                    <p class="job-desc">Senior Client Success Manager<br>Business Development Representative 
    </p></a>
                </div>
            </div>
    
            <div class="column">
                <div class="card">
                    <a href="https://stay22.breezy.hr/">
                    <img src="https://images.squarespace-cdn.com/content/v1/5d8b9145d980a85623888ef6/1626062015061-3WFLKJA7TJPRVDFPB81B/stay22.png?format=1000w" alt="stay22">
                    <p class="job-desc">Head of Engineering Montreal, QC<br>Product Owner Montreal, QC<br>Senior Full Stack Javascript Developer Montreal, QC
    </p></a>
                </div>
            </div>
        </div>
     
        <div class="row">      
            <div class="column">
                <div class="card">
                    <a href="https://business.stayflexi.com/careers/">
                    <img src="https://images.squarespace-cdn.com/content/v1/5d8b9145d980a85623888ef6/1626062018131-2C51B90Q8F63RY966HOA/stayflexi.png?format=1000w" alt="stayflexi">
                    <p class="job-desc">Business Development Manager<br>Product Manager<br>Support Specialist<br>Onboarding Specialist<br>Customer Success Manager<br>Mobile Application Developer
    </p></a>
                </div>
            </div>
    
            <div class="column">
                <div class="card">
                    <a href="https://www.voiceflow.com/about">
                    <img src="https://images.squarespace-cdn.com/content/v1/5d8b9145d980a85623888ef6/1626062021127-FXT7UH3DEQS1NY40B67Y/voiceflow.png?format=1000w" alt="Voiceflow">
                    <p class="job-desc">Sr. Frontend Engineer, Remote<br>Sr. Backend Engineer, Remote<br>Infrastructure Engineer (DevOps/SRE), Remote<br>Head of Engineering, Remote<br>Technical Recruiter, Remote </p></a>
                </div>
            </div>
        </div>
    </body>
</html>